[submodule "api"]
	path = api
	url = git@github.com:roadrunner-server/api.git
[submodule "api-cloud"]
	path = api-cloud
	url = https://github.com/temporalio/api-cloud.git
[submodule "sdk-core"]
	path = sdk-core
	url = https://github.com/temporalio/sdk-core.git
